<div class="container my-4">
    <div>{{text}}</div>

    <form class="col-4" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <input class="form-control my-2" placeholder="First name *" type="text" formControlName="firstName">
    
        <input class="form-control my-2" placeholder="Last Name *" type="text" formControlName="lastName">
    
        <input class="form-control my-2" placeholder="E-mail *" type="text" formControlName="email">

        <div class="form-check">
            <input id="my_checkbox" class="form-check-input" type="checkbox" value="false" formControlName="checkbox">
            <label class="form-check-label" for="my_checkbox">I allow to elaborate my data</label>
        </div>
    
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>
